<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkmH0Keke2uv11GE-fSstytV4XyB5IsaE</string>
	<key>GCM_SENDER_ID</key>
	<string>598230944848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdmpro.sdmproapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sdmproapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sdmproapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598230944848:ios:df58d06951df76ebee1555</string>
</dict>
</plist>